* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 16px;
}

.app {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.map {
    height: 100%;
}

.marker {
    position: absolute;
}

.marker.collided {
    background-color: red;
}
