* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
}

.app {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.map {
    height: 100%;
}

.walls {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; */
}

.marker, .player {
    position: absolute;
}

.player {
    width: 30px;
    height: 30px;
    background-image: url('../../media/pers1_stay.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .25s ease;
}

.player.move {
    /* здесь будем ставить анимацию движения*/
    background-image: url('../../media/pers1.gif');
}

.player.right {
    transform: rotateZ(90deg);
}

.player.down {
    transform: rotateZ(180deg);
}

.player.left {
    transform: rotateZ(-90deg);
}

.marker1 {
  top: 548px;
  left: 1038px;
}

.marker2 {
  top: 75px;
  left: 278px;
}

.marker3 {
  top: 75px;
  left: 1463px;
}

.marker4 {
  top: 303px;
  left: 655px;
}
