* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 16px;
}

.app {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.map {
    height: 100%;
}

.marker, .player {
    position: absolute;
}

.player {
    width: 30px;
    height: 30px;
    background-image: url('../../media/zombie.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .25s ease;
}

.player.move {
    /* здесь будем ставить анимацию движения*/
    /* background-image: url('../../media/animated.svg'); */
    background-color: rgb(164, 228, 163); /* @temp */
}

.player.right {
    transform: rotateZ(90deg);
}

.player.down {
    transform: rotateZ(180deg);
}

.player.left {
    transform: rotateZ(-90deg);
}

.marker1 {
  top: 570px;
  left: 310px;
}

.marker2 {
  top: 400px;
  left: 310px;
}

.marker3 {
  top: 320px;
  left: 310px;
}

.marker4 {
  top: 320px;
  left: 710px;
}
